.content {
  display: block;
}

.shared-board>.space {
  margin: 20px;
}

.personal-board {
  margin: 20px;
}

.grid {
  box-sizing: border-box;
  background-color: #333;
  width: 500px;
}

.grid__cell {
  background-color: #fff;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #666;
  position: relative;
}

.grid__cell .space {
  height: 100%;
  width: 100%;
}

.roomGame {
  border: 1px solid grey;
  border-radius: 8px;
}

.space {
  display: inline-block;
  /* transition: 100ms background-color; */
  border: 1px solid grey;
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.space--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.space--targeted {
  background-color: grey;
}

.space__entity-grid {
  box-sizing: border-box;
}

.entity {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

.entity.player-0 {
  background-color: pink;
}

.entity.player-0.entity--clickable {
  background-color: #f0e0d8;
}

.entity.player-1 {
  background-color: lightblue;
}

.entity.player-1.entity--clickable {
  background-color: paleturquoise;
}

.debug-panel .pane {
  width: 420px !important;
}
