@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  --bright-sky: #01baef;
  --tropical-teal: #0cbaba;
  --dark-amethyst: #380036;
  --dark-orange: #F58F29;
  --lipstick-red: #EC0B43;
}

html {
  height: 100%;
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: "Paytone One", sans-serif;
  color: white;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.content:not(:has(.home)) {
  padding: .7em;
}

.content {
  text-align: center;
  min-height: 0;
  overflow: auto;
  background: linear-gradient(
    to bottom,
    var(--bright-sky) 0%,
    var(--bright-sky) 50%,
    var(--tropical-teal) 80%,
    var(--tropical-teal) 100%
  ); 
}

.header {
  position:relative;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-color: white;
}

.home-splash {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 1em;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--dark-amethyst) 0%,
    var(--dark-amethyst) 20%,
    var(--bright-sky) 100%
  ); 
}

.home-tagline {
  padding-left: .7em;
}

.home-tagline__inner {
  display: inline-block;
  text-align: left;
}

.home-description {
  padding: 0 .7em;
  font-family: "Nunito", sans-serif;
}

.home-explanation {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
}

.home-page-card {
  color: var(--dark-amethyst);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: .8em;
  background-color: white;
  aspect-ratio: .8;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-card__icon, .home-page-card__description {
  flex: 1;
  box-sizing: border-box;
}

.home-page-card__icon {
  background-color: white;
  aspect-ratio: .8;
}

.home-page-card__description {
  background-color: white;
  border-top: 2px solid var(--tropical-teal);
  padding: 2em 1em;
}

.button {
  border: 3px solid var(--dark-amethyst);
  display: inline-block;
  padding: .5em;
  font-size: 1.5em;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: .3em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  margin: .5em;
}

.button:disabled, .button--disabled.button--disabled {
  background-color: grey;
}

.button--style-a {
  background-color: var(--dark-orange);
  color: var(--dark-amethyst);
}

.button--style-b {
  background-color: var(--dark-amethyst);
  color: white;
}

.button--style-c {
  background-color: var(--lipstick-red);
  color: white;
}

.button--small {
  font-size: 1.2em;
  padding: .3em .5em;
  border-radius: .2em;
}

.button--x-small {
  font-size: .9em;
  padding: .3em .5em;
  border-radius: .2em;
}

.room-game {
  position: relative;
}

.room-game__joined-players {
  padding: 1em;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(from var(--bright-sky) calc(r + 50) calc(g + 50) calc(b + 50));
}

.room-game h4 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: .3em .5em;
  background-color: var(--dark-amethyst);
  transform: translate(-2%, -70%) rotate(-3deg);
}

.room-game__game-name {
  margin: 0;
}

.room-game__player-count {
  margin: 0 0 2em;
}

.room-game ul {
  margin: 0;
}

.header-home-button {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bright-sky);
  text-align: center;
  line-height: 1em;
}

.header-home-button .lucide-cog {
  margin-right: -.05em;
  margin-left: -.05em;
  position: relative;
  top: .15em;
}

.home-buttons {
  margin: 1.5em;
}

.button-with-input__input {
  font-size: .8em;
  margin-left: .5em;
  padding: 0 .5em;
  position: relative;
  bottom: .1em;
}

.join-room-button__container {
  display: inline-block;
}

.join-room-button__error {
  color: var(--lipstick-red)
}

.join-room-button .button-with-input__input {
  background-color: white;
  width: 4em;
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.editor section:has(.editor__input) {
  min-height: 0;
}

.game {
  color: black;
}

.shared-board, .personal-board {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.grid {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #333;
  max-width: 500px;
}

.grid__cell {
  border: 1px solid black;
  background-color: #fff;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  position: relative;
  overflow: auto;
}

.grid__cell .space {
  height: 100%;
  width: 100%;
}

.roomGame {
  border: 1px solid grey;
  border-radius: 8px;
}

.space {
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.space:not(:has(.entity)) {
  border: 1px solid grey;
}

.space--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.space--targeted {
  background-color: grey;
}

.space__entity-grid {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.space__entity-grid__cell {
  box-sizing: border-box;
  overflow: auto;
}

.entity {
  padding: .2em;
  min-height: 20px;
  min-width: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  font-size: .5em;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  display: inline-block;
}

.entity.player-0 {
  background-color: pink;
}

.entity--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.entity.player-0.entity--clickable {
  background-color: #f0e0d8;
}

.entity.player-1 {
  background-color: lightblue;
}

.entity.player-1.entity--clickable {
  background-color: paleturquoise;
}

.debug-panel .pane {
  max-width: 420px !important;
}

.sample-game-select {
  margin-bottom: .5em;
}

.sample-game-select__inner {
  font-family: "Nunito", sans-serif;
  max-width: 100%;
}

.sample-game-select__option {
  font-family: inherit;
  max-width: 100%;
}

.editor-game-name, .editor-num-players {
  color: white;
}

.editor__controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5em;
  gap: .5em;
  justify-content: center;
}

.editor-game-name__input, .editor-num-players__input {
  font-family: "Nunito", sans-serif;
  margin-left: 1em;
  position: relative;
}

.editor-game-name__input {
  width: 10em;
}

.editor-num-players__input {
  width: 3em;
}

.buttons {
  text-align: center;
  /* white-space: nowrap; */
}

.editor-buttons .button {
  display: inline-block;
  padding: .2em .3em;
  font-size: .8em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.testing-game {
  margin: 2em;
}

.testing-game__title__text {
  margin: 0;
}

.testing-game__title__tip {
  margin: 0;
  color: black;
}

.game-preview {
  flex: 1;
  text-align: left;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.game-preview h3 {
  margin: 0;
}

.joined-player-pill {
  position: relative;
  background-color: white;
  color: var(--bright-sky);
  text-transform: uppercase;
  border-radius: 9999px;
  margin: .5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.joined-player-pill--me {
  color: var(--lipstick-red);
}

.joined-player-pill__edit-button {
  position: absolute;
  top: -1.3em;
  left: -1.3em;
  padding: .2em;
  line-height: 0;
}

.joined-player-pill__inner {
  display: inline-block;
  padding: .5em;
}

.joined-player-pill__editor {
  display: flex;
  align-items: center;
  margin: 0 .5em;
}

.joined-player-pill__editor input {
  margin: 0em .5em;
  font-family: inherit;
  font-size: 0.9em;
  border: 2px solid var(--bright-sky);
  border-radius: 0.2em;
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 4px solid #e0e0e0;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.debug-panel .visibility-toggle {
  top: 70px !important;
}

.debug-panel .visibility-toggle svg {
  display: none;
}

.debug-panel .visibility-toggle .icon::after {
  position: relative;
  left: 3px;
  content: "⚙️";
  font-size: 20px;
  display: block;
  width: 20px;
  height: 20px;
}

.debug-panel .menu {
  position: relative;
  top: 70px !important;
}

body:has(.content .editor) .debug-panel {
  display: none;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 600px) {
  .sample-game-select__inner {
    font-size: inherit;
  }

  .editor-game-name__input, .editor-num-players__input {
    font-size: inherit;
    position: static;
  }

  .editor__controls {
    gap: 1em;
  }
}

@keyframes spin {
  to { transform: translate(-50%, -50%) rotate(360deg); }
}
