:root {
  --bright-sky: #01baefff;
  --tropical-teal: #0cbabaff;
  --dark-amethyst: #380036ff;
  --midnight-violet: #26081cff;
  --coffee-bean: #150811ff;
  --dark-orange: #F58F29;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap');

body {
  margin: 0;
  font-family: "Paytone One", sans-serif;
  background-color: var(--bright-sky);
}

.content {
  display: block;
  height: 100vh;
  padding: .5em;
}

.header {
  padding: .5em;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.header__home-button {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bright-sky);
}

.header__construction-banner {
  font-size: .8em;
  color: var(--dark-orange);
  padding: .3em;
  border: .3em dashed var(--dark-orange);
  border-radius: 1em;
}

.header__construction-banner__label {
  position: relative;
  bottom: .1em;
}

.header__construction-banner .lucide-construction {
  vertical-align: bottom;
}

.header__home-button .lucide-cog {
  margin-right: -.05em;
  margin-left: -.05em;
  position: relative;
  top: .15em;
}

.shared-board>.space {
  margin: 20px;
}

.personal-board {
  margin: 20px;
}

.grid {
  box-sizing: border-box;
  background-color: #333;
  width: 500px;
}

.grid__cell {
  background-color: #fff;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #666;
  position: relative;
}

.grid__cell .space {
  height: 100%;
  width: 100%;
}

.roomGame {
  border: 1px solid grey;
  border-radius: 8px;
}

.space {
  display: inline-block;
  /* transition: 100ms background-color; */
  border: 1px solid grey;
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.space--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.space--targeted {
  background-color: grey;
}

.space__entity-grid {
  box-sizing: border-box;
}

.entity {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

.entity.player-0 {
  background-color: pink;
}

.entity--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.entity.player-0.entity--clickable {
  background-color: #f0e0d8;
}

.entity.player-1 {
  background-color: lightblue;
}

.entity.player-1.entity--clickable {
  background-color: paleturquoise;
}

.debug-panel .pane {
  width: 420px !important;
}
