@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  --bright-sky: #01baefff;
  --tropical-teal: #0cbabaff;
  --dark-amethyst: #380036ff;
  --midnight-violet: #26081cff;
  --coffee-bean: #150811ff;
  --dark-orange: #F58F29;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Paytone One", sans-serif;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: block;
  flex: 1;
  background-color: var(--bright-sky);
  text-align: center;
}

.header {
  position:relative;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.home__splash {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 1rem;
  align-items: center;
  background: linear-gradient(
    to right,
    /* var(--bright-sky) 0%, */
    /* var(--bright-sky) 20%, */
    /* var(--dark-amethyst) 100% */
    var(--dark-amethyst) 0%,
    var(--dark-amethyst) 20%,
    var(--bright-sky) 100%
  ); 
}

.home__tagline {
  padding-left: .7em;
}

.home__description {
  padding: 0 .7em;
  font-family: "Nunito", sans-serif;
}

.home__explanation {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1rem;
  justify-content: center;
  margin: 2em;
}

.home-page-card {
  color: var(--dark-amethyst);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: .8em;
  background-color: white;
  aspect-ratio: .8;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.home-page-card__icon {
  background-color: white;
  aspect-ratio: .8;
  padding: 1em;
}

.home-page-card__description {
  background-color: white;
  border-top: 2px solid var(--tropical-teal);
  padding: 1em;
}

.header__home-button {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bright-sky);
  text-align: center;
  line-height: 1em;
}

.header__home-button .lucide-cog {
  margin-right: -.05em;
  margin-left: -.05em;
  position: relative;
  top: .15em;
}

.get-started-button {
  display: inline-block;
  background-color: var(--dark-amethyst);
  color: white;
  border: none;
  padding: .5em .7em;
  font-size: 2em;
  text-decoration: none;
  cursor: pointer;
  border-radius: .3em;
  margin: 2em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.header__login-button, .header__logout-button {
  background-color: var(--dark-amethyst);
  color: white;
  font-family: inherit;
  border: none;
  padding: .3em .5em;
  cursor: pointer;
  border-radius: .2em;
}

.editor {
  font-size: 1.4em;
}

.shared-board>.space {
  margin: 20px;
}

.personal-board {
  margin: 20px;
}

.grid {
  box-sizing: border-box;
  background-color: #333;
  width: 500px;
}

.grid__cell {
  background-color: #fff;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #666;
  position: relative;
}

.grid__cell .space {
  height: 100%;
  width: 100%;
}

.roomGame {
  border: 1px solid grey;
  border-radius: 8px;
}

.space {
  display: inline-block;
  border: 1px solid grey;
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.space--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.space--targeted {
  background-color: grey;
}

.space__entity-grid {
  box-sizing: border-box;
}

.entity {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

.entity.player-0 {
  background-color: pink;
}

.entity--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.entity.player-0.entity--clickable {
  background-color: #f0e0d8;
}

.entity.player-1 {
  background-color: lightblue;
}

.entity.player-1.entity--clickable {
  background-color: paleturquoise;
}

.debug-panel .pane {
  width: 420px !important;
}

.sample-game-select {
  padding: 0 1em;
}

.sample-game-select__inner {
  font-family: "Nunito", sans-serif;
  max-width: 100%;
  margin: 1em 0;
}

.sample-game-select__option {
  font-family: inherit;
  max-width: 100%;
}

.editor-game-name {
  color: white;
  margin: 1em;
}

.editor-game-name__input {
  font-family: "Nunito", sans-serif;
  margin-left: 1em;
  position: relative;
  bottom: .2em;
}

@media (min-width: 600px) {
  .sample-game-select__inner {
    font-size: inherit;
  }

  .editor-game-name__input {
    font-size: inherit;
    position: static;
  }
}
