@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

:root {
  --bright-sky: #01baef;
  --tropical-teal: #0cbaba;
  --dark-amethyst: #380036;
  --dark-orange: #F58F29;
  --lipstick-red: #EC0B43;
}

html {
  height: 100%;
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: "Paytone One", sans-serif;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--bright-sky) 0%,
    var(--bright-sky) 50%,
    var(--tropical-teal) 80%,
    var(--tropical-teal) 100%
  ); 
}

.header {
  position:relative;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.home-splash {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 1em;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--dark-amethyst) 0%,
    var(--dark-amethyst) 20%,
    var(--bright-sky) 100%
  ); 
}

.home-tagline {
  padding-left: .7em;
}

.home-tagline__inner {
  display: inline-block;
  text-align: left;
}

.home-description {
  padding: 0 .7em;
  font-family: "Nunito", sans-serif;
}

.home-explanation {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
}

.home-page-card {
  color: var(--dark-amethyst);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: .8em;
  background-color: white;
  aspect-ratio: .8;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.home-page-card__icon {
  background-color: white;
  aspect-ratio: .8;
  padding: 1em;
}

.home-page-card__description {
  background-color: white;
  border-top: 2px solid var(--tropical-teal);
  padding: 1em;
}

.button {
  border: 3px solid var(--dark-amethyst);
  display: inline-block;
  padding: .5em;
  font-size: 1.5em;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: .3em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  margin: .5em;
}

.button--style-a {
  background-color: var(--dark-orange);
  color: var(--dark-amethyst);
}

.button--style-b {
  background-color: var(--dark-amethyst);
  color: white;
}

.button--style-c {
  background-color: var(--lipstick-red);
  color: white;
}

.button--small {
  font-size: 1.2em;
  padding: .3em .5em;
  border-radius: .2em;
}

.header-home-button {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bright-sky);
  text-align: center;
  line-height: 1em;
}

.header-home-button .lucide-cog {
  margin-right: -.05em;
  margin-left: -.05em;
  position: relative;
  top: .15em;
}

.home-buttons {
  margin: 1.5em;
}

.button-with-input__input {
  font-size: .8em;
  margin-left: .5em;
  padding: 0 .5em;
  position: relative;
  bottom: .1em;
}

.join-room-button .button-with-input__input {
  width: 4em;
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: .7em;
}

.editor section:has(.editor__input) {
  flex: 1;
}

.shared-board, .personal-board {
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.grid {
  box-sizing: border-box;
  background-color: #333;
  max-width: 500px;
}

.grid__cell {
  background-color: #fff;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  position: relative;
  overflow: hidden;
}

.grid__cell .space {
  height: 100%;
  width: 100%;
}

.roomGame {
  border: 1px solid grey;
  border-radius: 8px;
}

.space {
  display: inline-block;
  box-sizing: border-box;
  min-width: 10px;
  min-height: 10px;
}

.space:not(:has(.entity)) {
  border: 1px solid grey;
}

.space--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.space--targeted {
  background-color: grey;
}

.space__entity-grid {
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.space__entity-grid__cell {
  box-sizing: border-box;
  overflow: hidden;
}

.entity {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  font-size: .5em;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.entity.player-0 {
  background-color: pink;
}

.entity--clickable {
  background-color: rgba(144, 238, 144, .4);
}

.entity.player-0.entity--clickable {
  background-color: #f0e0d8;
}

.entity.player-1 {
  background-color: lightblue;
}

.entity.player-1.entity--clickable {
  background-color: paleturquoise;
}

.debug-panel .pane {
  max-width: 420px !important;
}

.sample-game-select__inner {
  font-family: "Nunito", sans-serif;
  max-width: 100%;
}

.sample-game-select__option {
  font-family: inherit;
  max-width: 100%;
}

.editor-game-name, .editor-num-players {
  color: white;
}

.editor__input {
  margin: .7em 0;
}

.editor__controls {
  display: flex;
  flex-wrap: wrap;
  margin: .5em;
  gap: .3em;
  align-items: center;
}

.editor-game-name__input, .editor-num-players__input {
  font-family: "Nunito", sans-serif;
  margin-left: 1em;
  position: relative;
  bottom: .2em;
}

.editor-game-name__input {
  width: 10em;
}

.editor-num-players__input {
  width: 3em;
}

.buttons {
  flex: 1;
  text-align: center;
  white-space: nowrap;
}

.editor-buttons .button {
  display: inline-block;
  padding: .2em .3em;
  font-size: .8em;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

.testing-game {
  margin: 2em;
}

.testing-game__title__text {
  margin: 0;
}

.game-preview {
  flex: 1;
  text-align: left;
  padding: 0 3em;
}

.debug-panel .visibility-toggle {
  top: 70px !important;
}

.debug-panel .visibility-toggle svg {
  display: none;
}

.debug-panel .visibility-toggle .icon::after {
  position: relative;
  left: 3px;
  content: "⚙️";
  font-size: 20px;
  display: block;
  width: 20px;
  height: 20px;
}

.debug-panel .menu {
  position: relative;
  top: 70px !important;
}

body:has(.content .editor) .debug-panel {
  display: none;
}

@media (min-width: 600px) {
  .sample-game-select__inner {
    font-size: inherit;
  }

  .editor {
    font-size: 1.4em;
  }

  .editor-game-name__input, .editor-num-players__input {
    font-size: inherit;
    position: static;
  }

  .editor__controls {
    gap: 1em;
  }
}
